services:
  ehs-api:
    image: ehs-api:latest
    container_name: ehs-api
    networks:
      - ehs-smart_ehs-network

  ehs-smart:
    image: ehs-smart-ehs-smart:latest
    container_name: ehs-smart
    networks:
      - ehs-smart_ehs-network

  ehs-proxy:
    build: .
    container_name: ehs-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - ehs-smart_ehs-network

#Passos de deploy

#1 ️⃣ No diretório do proxy (/opt/ehs-proxy):
#docker build -t ehs-proxy .

#2 ️⃣ Suba o serviço:
#docker compose up -d --build